.card {
  width: 100%;
  border: none !important;
  &-top {
    width: 100%;
    display: flex;
    height: 10rem;
  }
  &-right {
    width: 60%;
    padding: 30px 10px 10px 10px;
    & p {
      font-weight: var(--font-700);
      font-size: 1rem;
      line-height: 1.5rem;
      width: auto;
      height: auto;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      color: var(--secondary-color);
      text-align: initial;
    }
    & span {
      font-weight: var(--font-400);
      font-size: 0.75rem;
      line-height: 1rem;
      width: auto;
      height: 70px;
      overflow: hidden;
      text-align: justify;
      padding: 10px 0px;
      margin: 0px;
      margin-top: 0px;
      display: inline-block;
      color: rgb(166, 170, 173);
      text-align: initial;
    }
  }
  &-left {
    width: 37%;
    & img {
      width: 112px;
      height: 112px;
      border-radius: 5px;
      margin-top: 15px;
    }
  }
  &-bottom {
    width: 100%;
    display: flex;
    margin: 10px 0 15px;
    padding: 10px 0;
    height: 55px;
    &:hover {
      background-color: rgba(249, 250, 251, 0.7);
    }
    &:hover .left button {
      background-color: var(--main-color);
      color: var(--white-color);
    }
    & .right {
      width: 20%;
      & p {
        font-size: 14px;
        color: var(--main-color);
        margin-top: 5px;
        font-weight: 700;
        padding: 3px 3px;
        background-color: rgba(255, 0, 166, 0.06);
        width: 35px;
        margin-right: 15px;
        border-radius: 5px;
      }
    }
    & .center {
      width: 40%;
      &-p1 {
        font-weight: var(--font-400);
        font-size: 0.75rem;
        line-height: 1rem;
        width: auto;
        height: auto;
        padding: 0px;
        margin: 0px;
        text-decoration: line-through;
        display: inline-block;
        color: rgb(166, 170, 173);
        text-align: initial;
      }
      &-p2 {
        font-weight: var(--font-700);
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: auto;
        height: auto;
        padding: 0px;
        margin: 0px;
        display: inline-block;
        color: var(--secondary-color);
        text-align: initial;
      }
    }
    & .center2 {
      display: flex;
      justify-content: center;
      width: 60% !important;
      flex-flow: row;
      padding-top: 10px;
    }
    & .left {
      width: 40%;
      align-items: center;
      justify-content: center;
      & button {
        justify-content: center;
        align-items: center;
        display: inline-flex;
        cursor: pointer;
        transition: all 0.3s ease-out 0s;
        min-width: 6.6875rem;
        width: auto;
        border: 0.09375rem solid rgba(255, 0, 166, 0.06);
        border-radius: 3rem;
        color: var(--main-color);
        background-color: var(--white-color);
        background-clip: padding-box;
        box-shadow: rgba(58, 61, 66, 0.06) 0px 1px 0px,
          rgba(0, 0, 0, 0.2) 0px 4px 16px -8px;
        height: 2.3125rem;
        font-weight: var(--font-400);
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
    & .span {
      font-family: "vazir";
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1rem;
      width: auto;
      height: auto;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      color: rgb(83, 86, 92);
      text-align: initial;
      padding-right: 5px;
    }
    & .hideBasket {
      display: none !important;
      width: 0px;
    }
  }
}
